<ion-view view-title="Assistant Job Title">
 <ion-content class="padding">
 	
 	<h3 class="text-center app-color-pri">Question 1</h3>
 	<h4 class="text-center">Please enter the job title</h4>

 	<div class="list">
  		<label class="item item-input">
	    <input type="text" placeholder="Job Title">
	  </label>
	</div>

 	<a href="#/q2" class="button button-outline button-block button-assertive">Continue...</a>
 	

 	<div class="button-bar">
	  <a href="#/assistant" class="button button-outline button-block button-stable">Back</a>
	  <a href="#/search" class="button button-outline button-block button-stable">Cancel</a>
	</div>

 </ion-content>
</ion-view>