.messages {
  display: flex;
  align-content: center;
  align-items: center;

  .message {
    margin: 1rem;
    flex: 1 1 auto;
    padding: .5rem 1rem;
    transition: all 250ms ease;
    overflow: hidden;
    text-align: left;
    transform: translate3d(0, 0, 0);
  }

}
.time {
  flex: 0 1 auto;
  align-self: auto;
  width: 120px;
  text-align: center;
  padding: 0 0 0 0;
  transition: all 250ms ease;
  transform: translate3d(10px, 0, 0);

  &.slide-right {
    transform: translate3d(130px, 0, 0);
  }

}
//This will change
.message {
    background: #007AFF;
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    max-width: 240px;
}

.messages.other {
  
  .message {
    transform: translate3d(0, 0, 0);
    text-align: right;
  }
  
  .message.slide-right {
    transform: translate3d(120px, 0, 0);
  }
  
  .message {
    color: black;
    background-color: #C7C7CC;
  }
}

// ion-view position problem
.messaging-view {
  top: -1.65rem;
}



